doctype 5
html
	head
		title= title
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
		link(rel='stylesheet', href='/stylesheets/AdminLTE.min.css')
		link(rel='stylesheet', href='/stylesheets/skins/skin-blue.min.css')

	body.skin-blue.sidebar-mini
		.wrapper
			header.main-header
				a.logo(href="index2.html")
					span.logo-mini
						b  API
					span.logo-lg
						b Review Esan
						|  API
				
				nav.navbar.navbar-static-top(role="navigation")
					a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
						span.sr-only  Toggle navigation

					div.navbar-custom-menu
						div.navbar-custom-menu

							li class="dropdown user user-menu
								a.dropdown-toggle(href="#", data-toggle="dropdown")
									img.user-image(src="/images/user2-160x160.jpg", alt="User Image")
									span.hidden-xs  Alexander Pierce

		block content

		script(src='/plugins/jQuery/jQuery-2.1.4.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/app.min.js')