extends layout

block content
	body.login-page
		input#shop(type="hidden", value="#{data.shop}")
		input#apiKey(type="hidden", value="#{data.apiKey}")
		input#apiUrl(type="hidden", value="#{data.apiUrl}")

		.login-box.margin-top-0.margin-bottom-0
			.login-logo.margin-bottom-5
				b PowerDD
				|  Backend
			.login-box-body
				h3.login-box-msg เข้าสู่ระบบ
				form
					.form-group.has-feedback
						input#username.form-control(type='email', placeholder='ชื่อผู้ใช้ / เบอร์โทรศัพท์ / อีเมล')
						span.glyphicon.glyphicon-user.form-control-feedback     
					.form-group.has-feedback
						input#password.form-control(type='password', placeholder='รหัสผ่าน')
						span.glyphicon.glyphicon-lock.form-control-feedback
					.row
						.col-xs-7
							.checkbox
								label
									input#cbx-remember(type='checkbox')
									|  คงอยู่ในระบบ
						.col-xs-5
							span#btn-login.btn.btn-primary.btn-block.btn-flat ลงชื่อเข้าใช้

				.text-center
					p
						b#message.text-red  &nbsp;

				.social-auth-links.text-center
					p - หรือ -
					span#btn-login_facebook.btn.btn-block.btn-social.btn-facebook.btn-flat
						i.fa.fa-facebook
						|  เข้าระบบโดยใช้บัญชี Facebook

	
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='/javascripts/login.js')
